#img {
    position: relative;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
#img::before {
    content: '→';
    position: fixed;
    font-size: 7.5vw;
    bottom:0;
    left:0;
    z-index: 500;
    padding: 0 2.5%;
}

#img>* {
  display: inline-block;
}

#img img {
  position: relative;
  max-width: 90vw;
  max-height: 95vh;
}

.mousedragscrollable::-webkit-scrollbar {
  height: 4vh;
  background: #fff;
}
        
.mousedragscrollable::-webkit-scrollbar-thumb {
    background: #000;
}

.mousedragscrollable::-webkit-scrollbar-track {
    background: transparent;
}