#cover {
    background-color: #ccc;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

#title {
    font-size: 5.5vw;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

#info {
    font-size: 2.5vh;
}

#info div {
    background-color: #eee;
}

#links {
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
}

#links,
#links a {
    color: #fff;
}

#links div {
    background-color: #333;
}

#main {
    font-size: 1.25vw;
    background-color: #fff;
}