html {
  height: -webkit-fill-available;
}

body,
.random,
.random img,
#print p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
.contents,
.text,
.left,
.right,
.no_print,
#footer {
  box-sizing: border-box;
  margin: 0
}

.contents {
  height: 100vh;
}

.no_print {
  font-family: var(--main-font);
}

body {
  background-color: var(--sub-color);
  font-family: var(--main-font);
}

a {
  color: var(--main-color);
  text-decoration: none;
  font-family: var(--sub-font);
}

a:hover {
  font-style: italic;
  color: var(--sub-color);
  background-color: var(--main-color);
}

h1,
h2,
.right {
  display: block;
  float: right;
}

h3,
.left,
.no_print h1 {
  display: block;
  float: left;
}

hr,
.contents,
#footer {
  clear: both;
}

h1,
.back {
  font-size: 8vw;
  line-height: 100%;
}

h2,
.text {
  font-size: 2vw;
  line-height: 200%;
}

h3,
.text a {
  font-size: 4vw;
}

h1,
h2,
h3,
.contents b {
  font-weight: 400;
}

.contents,
.no_print {
  padding: 2.5vw;
}

h1 {
  padding: 0 1vw 2vw;
}

h2 {
  padding: 0 2.5vw;
}

h3 {
  line-height: 8vw;
  padding: 0 2.5vw 0 0;
}

.contents b {
  font-size: 125%;
  font-family: var(--main-font);
}

.contents i,
.contents u {
  font-size: 125%;
  font-weight: 400;
  font-family: var(--sub-font);
}

.text {
  height: 75vh;
}

.left,
.right {
  position: relative;
  width: 50%;
}

.left {
  padding-right: 1.25vw;
}

.right {
  padding-left: 1.25vw;
}

.random {
  pointer-events: none;
  user-select: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
  z-index: -1;
}

.random img {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

hr {
  border: none;
  height: 2vw;
}

#footer {
  width: 100%;
  padding: 2.5vw;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#print {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
}

#print a {
  padding: 0.5rem;
  margin: 0.5rem;
  display: inline-block;
}

.contents {
  display: none;
}

@media screen and (max-width: 750px) {
  .left,
  .right {
    clear: both;
    display: block;
    padding: 0 0 4vw;
    width: 100%;
  }

  .random img {
    max-height: 100%;
  }

  .mobile {
    display: none;
  }
}

@media print {
  .contents {
    display: block;
  }

  #print,
  .no_print {
    display: none;
  }

  .text {
    height: 75vh;
  }
}
