.info {
  line-height: 3vw;
  padding-top: 4vw;
  margin-bottom: 4vw;
  letter-spacing: 0.07rem;
}


.print_only {
  display: none;
}

@media screen and (max-width: 750px) {

  .left,
  .right {
    width: 100%;
    float: left;
    display: block;
    padding: 0 0 4.5vw;
  }

  .mobile {
    display: none;
  }
}
